APP_ENV=production
APP_URL=https://tienda.hnatacion.com

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hache_tienda
DB_USERNAME=hache_tienda_app
DB_PASSWORD=CAMBIAR_EN_SERVIDOR

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=
